# Moc files
config/moc/cache
config/moc/socket
config/moc/pid
config/moc/last_directory
config/moc/softmixer
config/moc/equalizer
config/moc/tags_cache
config/moc/playlist.m3u

# Vim files
vim/vim/.netrwhist
vim/vim/.VimballRecord
vim/vim/backups

# Garbage
*.swp
*.pyc
__pycache__/

# Personal files
vim/vim/plugin/settings/user_specific_configuration.vim
vim/vim/plugin/settings/cmake_specific_settings.vim
fish/config.private.fish
scripts/secure_backup.sh

# Xmonad compilation file
X/xmonad/xmonad-x86_64-linux
X/xmonad/xmonad.errors
X/xmonad/xmonad.hi
X/xmonad/xmonad.o

# Irssi files
config/irssi/nicklistfifo
config/irssi/default.theme
config/irssi/scripts/autorun
config/irssi/config
config/irssi/irclogs
