# Moc files
config/moc/cache
config/moc/socket
config/moc/pid
config/moc/last_directory
config/moc/softmixer
config/moc/equalizer
config/moc/tags_cache
config/moc/playlist.m3u

# Vim files
vim/vim/.netrwhist
vim/vim/.VimballRecord
vim/vim/backups

# Swaps
*.swp

# Personal files
vim/vim/plugin/settings/user_specific_configuration.vim
vim/vim/plugin/settings/cmake_specific_settings.vim

# Xmonad compilation file
X/xmonad/xmonad-x86_64-linux
X/xmonad/xmonad.errors
X/xmonad/xmonad.hi
X/xmonad/xmonad.o
