[Unit]
Description=Adjust screen brightness
Before=prefdm.service
[Service]
Type=oneshot
ExecStart=/home/daniele/linux/scripts/brightness.sh
[Install]
WantedBy=multi-user.target
