[Unit]
Description=Lock X session using slock

[Service]
User=daniele
Enviroment=DISPLAY=:0
ExecStart=/usr/bin/slock

[Install]
WantedBy=sleep.target
