! Using xft
URxvt*termName: rxvt-unicode-256color
URxvt*font:	xft:Inconsolata:size=11
URxvt.scrollBar:	false
URxvt.print-pipe: "cat > /dev/null"

Xft*dpi:	96
Xft*antialiasing:	True
Xtf*hinting:	Full

! Perl extensions
URxvt.perl-ext-common: default,clipboard,matcher,keyboard-select

!! URLs
URxvt.keysym.C-U: perl:url-select:select_next
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.underlineURLs: True
URxvt.matcher.button: 1
!! Copy-Paste
URxvt.clipboard.autocopy: true
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.copyCommand: xsel -ib
URxvt.pasteCommand: xsel -ob

! Transparent
URxvt*.transparent: true
URxvt*.shading: 5

! Colors

URxvt*color0: #000000
! Text when selecting
URxvt*color8: #555753

! Boh
URxvt*color9: #0000FF
!#CC0000
! Boh
URxvt*color1: #FF0000
!#EF2929

! ls Executable files
URxvt*color10: #4E9A06
! Zsh green folder
URxvt*color2: #8AE234

! vim yellow
URxvt*color11: #C4A000
! yellow
URxvt*color3: #C4A000
!#FCE94F

! ls dirs, vim empty lines
URxvt*color12: #3465A4
! boh
URxvt*color4: #729FCF

! Strings
URxvt*color13: #EF2929
!#75507B
URxvt*color5: #AD7FA8

! ls links, vim comments
URxvt*color14: #729FCF
!#06989A
! Vim braket higlight
URxvt*color6: #555753
!#34E2E2

! Boh
URxvt*color15: #D3D7CF
URxvt*color7: #EEEEEC

URxvt*background: #000000
URxvt*foreground: #EEEEEC
