[Unit]
Description=Dropbox Configuration: setting user max file watching
Before=prefdm.service
[Service]
Type=oneshot
ExecStart=/home/daniele/linux/scripts/dropbox.sh
[Install]
WantedBy=graphical.target
