[Unit]
Description=Dropbox Configuration: setting user max file watching
Before=prefdm.service
[Service]
Type=oneshot
ExecStart=/etc/scripts/drobox-user-watch.sh
[Install]
WantedBy=graphical.target
