[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  always_split_with_profile = True
  dbus = True
  inactive_color_offset = 1.0
[keybindings]
[profiles]
  [[default]]
    scrollbar_position = hidden
    palette = "#030303:#e26250:#aae367:#d3a000:#3085ca:#a66be3:#7d80d2:#f2f2f2:#909090:#f76655:#abf456:#f5f154:#6ebdf8:#b570f9:#9095f6:#e2e2e2"
    background_image = None
    background_darkness = 0.9
    background_type = transparent
    use_system_font = False
    cursor_color = "#efefef"
    foreground_color = "#f2f2f2"
    scroll_on_output = False
    show_titlebar = False
    font = Droid Sans Mono 12
    scrollback_infinite = True
  [[White]]
    scrollbar_position = hidden
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    background_image = None
    background_darkness = 0.81
    use_system_font = False
    foreground_color = "#657b83"
    scroll_on_output = False
    show_titlebar = False
    background_color = "#fdf6e3"
    scrollback_infinite = True
  [[BLACK]]
    background_image = None
    foreground_color = "#ffffff"
  [[Bigger]]
    scrollbar_position = hidden
    palette = "#030303:#e26250:#aae367:#d3a000:#3085ca:#a66be3:#7d80d2:#f2f2f2:#909090:#f76655:#abf456:#f5f154:#6ebdf8:#b570f9:#9095f6:#e2e2e2"
    background_image = None
    background_darkness = 0.9
    background_type = transparent
    use_system_font = False
    cursor_color = "#efefef"
    foreground_color = "#f2f2f2"
    scroll_on_output = False
    show_titlebar = False
    font = Droid Sans Mono 14
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      profile = default
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
